.FlexContainer {
    display: flex;
    justify-content: space-between;
}

.FlexContainer>*:not(:first-child) {
    padding-left: 2vw;
}

.TextSelectionPage h2 {
    width: 80vw;
}

.TextSelectionAddButton {
    font-size: medium;
}