p {
    text-indent: 2em;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-indent: 2em;
    margin-bottom: 0px;
}

:root {
    --text-font-family: "AlegreyaSans";
    /* TikTokSans, AlegreyaSans */
    --text-font-size-default: 3vh;
    --text-side-padding: 5vw;
}

body {
    font-family: var(--text-font-family), sans-serif;
    margin: 0px;
    font-size: var(--text-font-size-default);
    color: #eeeeee;
    user-select: none;
}